body{
margin: 0;
padding: 0; 
}
/* Оформление панели */
#side-checkbox {
    display: none;
}
.side-title{
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #1b1b1b;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-panel {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffff;
}
/* Оформление кнопки на странице */

.side-button-1 {
    display: inline-block;
    
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 6px 15px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background:#FFFF;
    cursor: pointer; 
    border: 15px solid #FFFF;
    border-radius: 15px;
    /*float: inline-start;*/
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: rgb(87, 87, 87);
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close  {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #FFFF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}

/* работаем с header */


.header-line{
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}
/*

.header-line::before{
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    margin-top: -1px;

}
*/
.header-line-black{
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #1b1b1b;
}
/*
.header-line-black::before{
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
    margin-top: -1px;
}
*/


.side-button-1-wr{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#FFFF;
    text-shadow: 2px 0 2px #000, 
0 2px 2px #000, 
-2px 0 2px #000, 
0 -2px 2px #000;
background-image: url("/FlowersSite/img/header-back.jpg");
background-blend-mode: darken;
height: 100px;

}
.main-name{
    display: inline;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 50px;
    position: absolute;
}
.promo-text-header{ 
    padding-top: 10px;
    display: inline; 
    padding-left: 350px;
    position: absolute;
    width: 180px;
    font-size: 18px;
}

/* определяем интервалы появления пунктов меню */

.side-panel > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.side-panel > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.side-panel > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.side-panel > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.side-panel > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
.side-panel > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}

/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
 .side-panel > ul > li > a:hover:before {
    width: 0%;
    background: #FFFF;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.side-panel > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
.side-panel > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #FFFF;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

.side-panel > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-panel > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='side-checkbox']:checked ~ .side-panel > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.side-panel h2 {
    color: #FFFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

[id='side-checkbox']:checked ~ .side-panel h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/**
 * оформление ссылок пунктов меню
 */

 .side-panel > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


/**
 * состояние ссылок меню при наведении
 */

.side-panel > ul > li > a:hover,
.side-panel > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
 * линия подчеркивания ссылок меню
 */

.side-panel > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.side-panel > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */

.side-panel > ul > li > a:hover:before {
    width: 0%;
    background: #e6e6e6;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.side-panel > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    
  }
  .social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
  }
  .social-icons a:hover {
    background-color: #e0e0e0;
  }
  .table{
      width: 150px;
  }
  .modernName p{
      display: inline-block;
      margin-left: 90px;
  }
  .social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .social-icons .social-icon-twitter::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%231da1f2' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-fb::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%234267B2' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-vk::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-telegram::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-youtube::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ff0000' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E");
  }
  
footer{
    
    text-align: center;
    font: 15px/25px "Montserrat", Arial, sans-serif;
    background-color: #1b1b1b;
    
    color:#999;

}

.footer-msg-inv{
    padding-top: 10px;
}
.social-icons{
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 20px;
}

.footer-menu{
    list-style-type: none;
font-size: 20px;
padding-inline-start: 0px;
display: inline-block;

}
.footer-contacts{
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
/*
.footer-contacts::before{
    content: "";
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    margin-top: -1px;
}
*/
.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.main-top-text{
    color:#FFFF;
    font-size: 20px;
}
.first-main{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-first-img{
    margin-left: 100px;
}
.modern{
    margin-left: 200px;
}

.custom-btn {
    
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.main-page-button {
    margin-left: 170px;
    margin-top: 20px;
}


.product_info p{
    display:inline-block;
    width: 400px;
    margin-left: 100px;

}
.cst-btn{
    margin: 20px;
}
  .first-button {
    text-decoration: none;
    width: 160px;
    height: 50px;
    text-align: center;

    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .first-button:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .first-button:before,
  .first-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .first-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .first-button:hover:before,
  .first-button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .first-main{
    border-bottom:1px solid #000;
  }

  .next-main{
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flowers{
    margin-right: 100px;
  }
  .names-flowers{
    
    margin-top: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .names{
    margin-right: 100px;
    height: 90px;
    width: 90px;
    text-align: center;
  }
  .names a{
    text-decoration: none;
    color: #000;
  }
  .first-main{
    background-color: #f1f0f0;
  }
  .flow{
    border-bottom: 1px solid #000;
  }
  .about-area{
    background-color: #f1f0f0;

    border-bottom: 1px solid #000;
    font-family: "Philosopher",sans-serif;
    --font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
    
}
    .about_info_wrap{
        margin-left: 300px;
        margin-bottom: 50px;
    }
  .about_info_wrap h3 {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 30px;
    line-height: 38px;
    color: #001d38;
    font-weight: 500;
    
}
.about_info_wrap p{

    font-size: 18px;
    line-height: 28px;
}
.about_info_wrap .long_dash {
    height: 3px;
    width: 70px;
    background: #db9a64;
    display: inline-block;
    margin-bottom: 17px;
    margin-top: 8px;
}
.info-photo{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 1000px;
}
.info-photo-2{
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 20%; 
    z-index: 1; 
}
.info-photo-1{
    grid-column: 4 / -1;
    grid-row: 1;
}
.about_info_wrap a{
    margin-left: 560px;
}
.main-adress{
    text-align: center;
    margin-bottom: 50px;
}
.main-adress-text{
    margin-bottom: 30px;
    text-align: left;
    font-family: "Philosopher",sans-serif;
    --font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 30px;
    line-height: 38px;
    color: #001d38;
    font-weight: 500;
    margin-left: 300px;
}
table{
    border-collapse:collapse;
}

.price p{
    width: 400px;
}
.price{
    text-align: center;
    border: 1px solid #dadada;
}

.name-main img{
    margin-top: 30px;
    width: 300px;
}



